// HEADER AND NAVIGATION

header {
    background-color: #fafafd;
    position: relative;
    z-index: 100;

    #logo-title {

        padding: 0.5rem 0.7rem;

        h1 {
            color: #000;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.3em;
            margin: 0;
        }

        p {
            color: #a5a5a5;
            font-size: 0.95em;
            margin: 0;
        }

    }

    nav {
        position: absolute;
        top: 0;
        left: 0;

    }

    #my-nav {
        position: relative;
    }
}