// HOME PAGE STYLE

#masthead {
  padding: 1em 0 2em;
  background-color: $light-gray;

  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.25em;
    letter-spacing: 2px;
    padding: 0 1em;

    span {
      font-size: 3.5em;
      transition: all 0.3s ease;
      // transform: translateX(-5px);
    }

    // span:hover {
    //   // cursor: pointer;
    //   transform: scale(1.1, 1.1) translateX(1%);
    // }

  }


  #page-title {
    margin-bottom: 1.5rem;
  }

  #page-title::after {
    content: "";
    display: block;
    background-color: $secondary;
    margin-top: -3em;
    height: 4em;
  }

}

#home-content {

  padding: 1.2em 1em 2em;


  span {
    border-bottom: 2px solid $secondary;
  }

  p {
    padding-right: 1em;
    margin-bottom: 1.5rem;

    span {
      border-bottom: 2px solid $secondary;
      font-weight: 700;
    }

    span:hover {
      background: $secondary;
    }
  }

  h5 {
    font-size: 0.8rem;
  }

    


}


#skillset {
  background-color: $white;
  position: absolute;
  min-width: 100%;
  top: 10vh;
  left: 0;
  z-index: 50;

  min-height: 90vh;

  .skillset-content {
    padding: 1rem 2rem 1rem 2rem;
  }

  .skillset-list {
    border-left: 10px solid $secondary;


    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        padding-left: 1.2rem;
      }

    }

  }

  .skillset-list div:nth-child(2) {
    padding: 1rem 0;
  }

  #back-link {
    display: inline-block;
    margin-top: 2rem;
  }
}

.show-box {
  // opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  visibility: visible;
}

.hide-box {
  transform: translateX(100%);
  // opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}