// HOME PAGE STYLE

#masthead {
  padding: 1.2em 0 2em;
  background-color: $light-gray;

  h2 {
    
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.25em;
    letter-spacing: 2px;
    padding: 0 1em;

    span {
      font-size: 3.5em;
      transition: all 0.3s ease;
    }

    span:hover {
      color: red;
    }

  }


  #landing-page-title {
    margin-bottom: 1.5rem;
  }

  #landing-page-title::after {
    content: "";
    display: block;
    background-color: $secondary;
    margin-top: -3.5em;
    height: 4em;
  }

}

#home-content {

  padding: 0 1em 2em;


  h3 span {
    border-bottom: 1px solid $secondary;
  }

  p {
    padding-right: 1em;
  }

  .content {
    padding-top: 2em;
  }

}


#skillset {
  background-color: $white;
  position: absolute;
  min-width: 100%;
  top: 10vh;
  left: 0;
  z-index: 50;

  min-height: 90vh;

  .skillset-content {
    padding: 2rem 2rem 1rem;
  }

  .skillset-list {
    border-left: 10px solid $secondary;


    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        padding-left: 1.2rem;
      }

    }

  }

  .skillset-list div:nth-child(2) {
    padding: 1rem 0;
  }

  #back-link {
    display: inline-block;
    margin-top: 2rem;
  }
}

.show-box {
  // opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-out;
  visibility: visible;
}

.hide-box {
  transform: translateX(100%);
  // opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}