 @media (max-width: 575px) {

     // HOME PAGE
     #masthead {
         h2 {
             font-size: 1.2rem;
             padding: 0;
         }
     }

     #project-list {
        .project-item {
            padding: 10px;

            .image {
                img {
                    max-width: 144px;
                }
            }
        }
    }

 }

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) {

     #project-list {
         .project-item {
             padding: 10px;
         }
     }

     #masthead.general {

         #page-title::after {
             display: block;
             width: 85vw;
             margin: -3.3rem auto 0;
             height: 3.3rem;
         }
     }

     .general {
         h1 {
             background-color: transparent;
             text-align: left;
             text-transform: lowercase;
             font-size: 4em;
             letter-spacing: 7px;
         }


     }


 }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
     // GENERAL 

     .my-btn-1 {
         border: none;
         font-size: 1em;
         padding: 0.1rem 0;
         margin: 0.5em 8% 0.5em 8%;
         border-bottom: 1px solid $primary;

     }

     // HEADER AND NAVIGATION 
     header {
         padding: 0.3rem;

         #logo-title {

             %logostyle {
                 display: inline;
                 font-size: 0.9rem;

             }


             h1 {
                 @extend %logostyle;
                 // border-right: 2px solid $black;
                 // padding-right: 8px;

             }

             p {
                 @extend %logostyle;
                 padding-left: 3px;
             }

         }
     }



     // HOME PAGE
     #masthead {
         h2 {
             text-align: left;
             font-size: 1.5rem;
             //  padding: 0 3.5em;

             span {
                 transform: translateX(-9px);
                 display: block;
             }
         }

         #page-title::after {
             margin-top: -2.2em;
             height: 3.9em;
         }
     }

     #home-content {
         p {
             font-size: 0.8rem;
             font-weight: 400;
         }

         h3 {
             font-size: 1.3em;
             padding-bottom: 0.2rem;
         }
     }


     #skillset {
         transform: translateX(0);
         visibility: visible;
         position: relative;
         min-height: 100%;
         top: 0;

         .skillset-content {
             padding: 0;
         }

         h4 {
             font-size: 0.75rem;
             padding: 0.4em 0;

         }

         .skillset-list {
             border-left: none;

             ul {
                 list-style: none;
                 margin-bottom: 0;

                 li {
                     padding-left: 0;
                     font-size: 0.75rem;
                 }

             }
         }

         .skillset-list div:nth-child(2) {
             padding: 0;
         }

     }

     // PROJECT PAGE

     #project-list {

        .details {
            padding-left: 0;
        }

        .project-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 4%;
        }

        .project-item {
            width: 32%;

            h3 {
                font-size: 1em;
            }

            .item-body {
                padding-top: 1rem;
            }

            .image {
                width: 9em;
                img {
                    max-width: 180px;
                }
            }
        }

     }



 }

 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {

    #project-list {
        .project-item {
            .image {
                width: 9em;
                img {
                    max-width: 250px;
                }
            }

        }
    }
 }

 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {

     footer {
         font-size: 0.9em;
         padding: 0 8%;
     }

     header {
         padding: 10px;
         background-color: #fafafd;
         position: relative;
         z-index: 100;

         #logo-title {

             padding: 0.5rem 0.7rem;

             h1 {
                 color: #000;
                 text-transform: uppercase;
                 font-weight: 700;
                 font-size: 1.3em;
                 margin: 0;
             }

             p {
                 color: #a5a5a5;
                 font-size: 0.95em;
                 margin: 0;
             }

         }

         nav {
             position: absolute;
             top: 0;
             left: 0;

         }

         #my-nav {
             position: relative;
         }
     }


     #masthead {
         padding: 6em 0 4em;

         h2 {
             padding: 0;
             font-size: 2rem;
             line-height: 2.25em;
             letter-spacing: 2px;

             span {
                 font-size: 4em;
             }
         }

         #page-title {
             margin-bottom: 1.5rem;
         }

         #page-title::after {
             background-color: $secondary;
             margin-top: -2.5em;
             height: 5em;
         }
     }


     #home-content {
         padding-top: 1.8rem;
         padding-bottom: 4em;

         .content {
             padding-right: 4em;
         }

         h3 {
             font-size: 2em;
             padding-bottom: 1rem;
         }

         p {
             font-size: 1.2rem;
             font-weight: 400;
             padding-bottom: 1rem;

         }
     }

     #skillset {
         .skillset-content {
             padding: 0;
         }

         h4 {
             font-size: 1rem;
             padding: 0.4em 0;

         }

         .skillset-list {
             border-left: none;

             ul {
                 list-style: none;
                 margin-bottom: 0;

                 li {
                     padding-left: 0;
                     font-size: 1rem;
                 }

             }
         }

         .skillset-list div:nth-child(2) {
             padding: 0;
         }

     }

     #project-list {
        .project-item {
            .image {
                width: 9em;
                img {
                    max-width: 350px;
                }
            }

        }
    }







 }