// TYPOGRAPHY
h3 {
  font-size: 1em;
  font-weight: 700;
  font-style: oblique;
  line-height: 1.5em;
  
}

p {
  font-size: 0.9em;
  font-weight: 300;
}

a,
a:hover {
  text-decoration: none;
  color: $black;
}


#skillset {
  h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.4em 0;
    letter-spacing: 1px;
  }

  ul {
    li {
      letter-spacing: 1px;
    }
  }
}